name: DailyTests

on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:


jobs:
  run-daily-tests:
    runs-on: ubuntu-24.04

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: build zimit image
        run: docker build -t local-zimit .

      - name: run crawl of test website
        run: docker run -v $PWD/output:/output local-zimit zimit --seeds https://website.test.openzim.org/ --name tests_eng_test-website --zim-file tests_eng_test-website.zim

      - name: archive ZIM
        uses: actions/upload-artifact@v6
        with:
          name: tests_eng_test-website.zim
          path: output/tests_eng_test-website.zim
          retention-days: 30

      - name: build tests-daily Docker image
        run: docker build -t local-tests-daily tests-daily

      - name: run integration test suite
        run: docker run -e SKIP_YOUTUBE_TEST="True" -v $PWD/tests-daily/daily.py:/app/daily.py -v $PWD/output:/output local-tests-daily bash -c "cd /app && pytest -v --log-level=INFO --log-format='%(levelname)s - %(message)s' daily.py"
