name: Publish Docker dev image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish-amd64:
    runs-on: ubuntu-24.04
    name: "Publish for AMD64"

    steps:
      - uses: actions/checkout@v6

      - name: Build and push Docker image
        uses: openzim/docker-publish-action@v10
        with:
          image-name: openzim/zimit
          manual-tag: dev
          latest-on-tag: false
          restrict-to: openzim/zimit
          registries: ghcr.io
          credentials: |
            GHCRIO_USERNAME=${{ secrets.GHCR_USERNAME }}
            GHCRIO_TOKEN=${{ secrets.GHCR_TOKEN }}
          repo_description: auto
          repo_overview: auto
          platforms: |
            linux/amd64

  # publish-arm64:
  #   runs-on: ubuntu-24.04-arm
  #   name: "Publish for ARM64"

  #   steps:
  #     - uses: actions/checkout@v6

  #     - name: Build and push Docker image
  #       uses: openzim/docker-publish-action@v10
  #       with:
  #         image-name: openzim/zimit
  #         manual-tag: dev
  #         latest-on-tag: false
  #         restrict-to: openzim/zimit
  #         registries: ghcr.io
  #         credentials: |
  #           GHCRIO_USERNAME=${{ secrets.GHCR_USERNAME }}
  #           GHCRIO_TOKEN=${{ secrets.GHCR_TOKEN }}
  #         repo_description: auto
  #         repo_overview: auto
  #         platforms: |
  #           linux/arm64
